body {
}
input{
}
button {
  height: 50px;
  width: 50px;
  border: 0px;
  margin: 5px;
}
.screen {
  height: 50px;
  width: 116px;
  margin-left: 5px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  border-color: 1px #000;
  
}
table{
  width: 242px;
  height: 50px;
  margin-left: 5px;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
}